<html>

<head>

    <title>
{{title}}
    </title>
</head>
<body>
    <h1>  {{title}}  </h1>
    <p>  username is : {{user.username}}  </p>
    <p> password is:  {{user.password}}  </p>

    
</body>
</html>